<router-outlet>

<div class="auth-wrap">
  <div class="glass-card">
    <form [formGroup]="loginForm" (ngSubmit)="displayValue()" class="auth-form">
      <h2 class="auth-title">Login</h2>

      <label for="username">Username</label>
      <input
        type="username"
        placeholder="username"
        id="username"
        formControlName="username"
      />
      
        @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
          <div  class="error">Please enter an existing username.</div>
        }
        
       
        

      <label for="Password">Password</label>
      <input
        type="Password"
        placeholder="Password"
        id="Password"
        formControlName="Password"
      />


      @if (loginForm.get('Password')?.invalid && loginForm.get('Password')?.touched) {
        <div  class="error">
        Password must be at least 6 characters.
      </div>
      }
      

      <button type="submit" class="btn-primary" [disabled]="loginForm.invalid" >Log In</button>
    </form>

    <h4 class="alt-action">
      New user?
      <a routerLink="/req/signup">Sign up</a>
    </h4>
  </div>
</div>


</router-outlet>
