<router-outlet>

<div class="auth-wrap" animate.enter="fade-in" animate.leave="fade-out">
  <div class="glass-card">
    <form [formGroup]="signupForm" (ngSubmit)="createAccount()" class="auth-form">
      <h2 class="auth-title">Sign Up</h2>

      <label for="name">Name</label>
      <input
        type="text"
        placeholder="Your full name"
        id="name"
        formControlName="name"
      />
      @if (signupForm.get('name')?.invalid && signupForm.get('name')?.touched) {
        <div class="error">Name is required.</div>
      }

      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Enter your email"
        id="email"
        formControlName="email"
      />
      @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
        <div class="error">Please enter a valid email.</div>
      }

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Create a password"
        id="password"
        formControlName="password"
      />
      @if (signupForm.get('Password')?.invalid && signupForm.get('Password')?.touched) {
        <div class="error">Password must be at least 6 characters.</div>
      }

      <label for="confirmPassword">Confirm Password</label>
      <input
        type="Password"
        placeholder="Re-enter password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
      @if (signupForm.hasError('mismatch') && signupForm.get('confirmPassword')?.touched) {
        <div class="error">Passwords must match.</div>
      }
     
      <button type="submit" class="btn-primary"  [disabled]="signupForm.invalid">Sign Up</button>
  
      
    </form>

    <h4 class="alt-action">
      Already have an account?
      <a routerLink="/req/login">Log In</a>
    </h4>
  </div>
</div>

</router-outlet>